scrapy==2.13.3
beautifulsoup4==4.13.4
requests==2.32.4
twilio==9.6.5
PyYAML==6.0.2
APScheduler==3.10.4
python-telegram-bot==21.3
playwright==1.45.0
urllib3==2.5.0
Flask==3.1.1
Flask-APScheduler==1.12.1
gunicorn==23.0.0
pydantic==2.8.2