<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Climbing stuff discounts by category</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Climbing stuff discounts</h1>
    <label for="category-select"><b>Select category:</b></label>
    <select name="category" id="category-select">
      {% for category in categories %}
        <option value="{{ category }}">{{ category.capitalize() }}</option>
      {% endfor %}
    </select>
    <button id="sort-by-discount">Sort by discount</button>
    <div id="discounts-container"></div>
    <script src="/static/js/main.js"></script>
</body>
</html>